
.fw-button--type-bloated-success{
  background-color: #28363e !important;
}

.b-seller-page-header__button {
	background-color: #28363e;
}


.b-adverts-listing-change-view__icon, .b-adverts-nav__sort-group__element svg, .b-list-advert__price, .b-seller-mobile-info-block__navigation-item--active span, .h-dflex.qa-header-back-button.h-increase-click-size.h-pointer > svg, .b-app-header__icon-wrapper--invert-icons-color .b-fav-button-advert__text, .b-app-header__icon-wrapper--invert-icons-color .b-mobile-filter-screen__title, .b-app-header__icon-wrapper--invert-icons-color>svg, .b-app-header__icon-wrapper--invert-icons-color .b-mobile-button-increase-square>svg {
	color: #28363e !important;
}

.b-list-advert-base--gallery {
	border: 1px solid #28363e !important;
}

.b-seller-info-tiles, .b-seller-mobile-info-block__header-photo .b-static-image {
	display:none;
}
